.contact {
  display: flex;
  flex-direction: column;
}

.contact__link {
  margin-top: 15px;
  font-weight: 700;
  letter-spacing: 0.7px;
  color: $main-color;
  text-decoration: none;
}

.contact__descr {
  margin-top: 3px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
}
