.label {
  &::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 23px;
    width: 89px;
    padding: 28px 11px 0 13px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.7px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #33c7fd;
    z-index: 1;

    @media (min-width: $md) {
      right: 32px;
    }

    @media (min-width: $lg) {
      right: 47px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 23px;
    display: block;
    width: 89px;
    height: 36px;
    border: 44px solid #33c7fd;
    border-bottom: 18px solid transparent;

    @media (min-width: $md) {
      right: 32px;
    }

    @media (min-width: $lg) {
      right: 47px;
    }
  }

  &--hit {
    &::before {
      content: "Хит продаж";
    }
  }

  &--promo {
    &::before {
      content: "Акция";
      background-color: #e30613;

      @media (min-width: $md) {
        padding-top: 37px;
      }
    }

    &::after {
      border-color: #e30613;
      border-bottom: 18px solid transparent;
    }
  }

  &--discount {
    &::before {
      content: "Скидка 10%";
      background-color: #e30613;
    }

    &::after {
      border-color: #e30613;
      border-bottom: 18px solid transparent;
    }
  }
}
