.option {
  @media (min-width: $md) {
    display: flex;
    margin-top: -20px;
  }
}

.option__icon {
  margin-left: 5px;
  transform: translateY(-3px);

  &:hover ~ ul {
    display: block;
  }

  &--currency {
    position: absolute;
    top: 13px;
    right: -7px;
  }

  &--lang {
    position: absolute;
    top: 13px;
    right: -2px;
  }
}

.option__contact {
  margin-left: 40px;
}
