@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/raleway-regular-italic.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-regular.woff") format("woff");
}

