*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  min-width: 290px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $main-color;
  background-color: #f3f3f3;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.label {
  &::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 23px;
    width: 89px;
    padding: 28px 11px 0 13px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.7px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #33c7fd;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 23px;
    display: block;
    width: 89px;
    height: 36px;
    border: 44px solid #33c7fd;
    border-bottom: 18px solid transparent;
  }

  &--hit {
    &::before {
      content: "Хит продаж";
    }
  }

  &--promo {
    &::before {
      content: "Акция";
      background-color: #e30613;
    }

    &::after {
      border-color: #e30613;
      border-bottom: 18px solid transparent;
    }
  }

  &--discount {
    &::before {
      content: "Скидка 10%";
      background-color: #e30613;
    }

    &::after {
      border-color: #e30613;
      border-bottom: 18px solid transparent;
    }
  }
}
