footer.footer
  ul.footer__list.footer-list
    li.footer__item
      a.footer__link(href="#") Вход для партнеров
    li.footer__item
      a.footer__link(href="#") О компании
    li.footer__item
      a.footer__link(href="#") Контакты
  .footer__socials
    span.footer__socials-descr Будь на связи:
    ul.footer__socials-list.socials
      li.socials__item
        a.socials__link(href="#") Морские круизы вконтакте
      li.socials__item
        a.socials__link(href="#") Морские круизы в одноклассниках
      li.socials__item
        a.socials__link(href="#") Морские круизы на Youtube
      li.socials__item
        a.socials__link(href="#") Морские круизы в instagram
  .footer__contact.contact
    a.contact__link(href="tel:88005006105") 8 800 500-61-05
    span.contact__descr Круглосуточная поддержка
    span.footer__contact-copyright &#169; 2016 OOO «Городские Круизы»
