.modal.visually-hidden
  .modal__block
    button.modal__icon-close(type="button") Закрыть окно
    .modal__wrapper
      .modal__img-wrapper.modal-img
        img.modal-img__main(src="img/abrau-modal.jpg", srcset="img/abrau-modal@2x.jpg 2x", alt="Пейзаж во время морской прогулки", width="361", height="240")
        ul.modal-img__list.modal-list
          li.modal-list__item
            img.modal-list__img(src="img/abrau-modal-sm-1.jpg", alt="Пейзаж во время морской прогулки", width="83", height="55")
          li.modal-list__item
            img.modal-list__img(src="img/abrau-modal-sm-2.jpg", alt="Пейзаж во время морской прогулки", width="83", height="55")
          li.modal-list__item
            img.modal-list__img(src="img/abrau-modal-sm-3.jpg", alt="Пейзаж во время морской прогулки", width="83", height="55")
          li.modal-list__item
            img.modal-list__img(src="img/abrau-modal-sm-4.jpg", alt="Пейзаж во время морской прогулки", width="83", height="55")
      .modal__text-wrapper.offers
        h3.offers__title
          a.offers__link(href="#") Морская прогулка в Абрау-Дюрсо
        p.offers__property Маршрут:&nbsp;
          span.offers__descr Сочи-Абрау-Дюрсо
        p.offers__property Продолжительность:&nbsp;
          span.offers__descr 11 ч. 0 мин.
        p.offers__property.offers__property--schedule Расписание:
        .offers__descr-block
          p.offers__descr Отправление из Сочи: ежедневно в 10:00, 11:40, 13:20, 15:00, 16:40
          p.offers__descr Отправление из Абрау-Дюрсо: ежедневно в&nbsp;12:25, 14:05, 15:45, 17:25, 19:05
          p.offers__descr Продолжительность: 11 часов 0 мин., из которых 10 часов - морская прогулка (туда и обратно), от 1 часа 30 мин. - свободное время в Ласточкином гнезде
          p.offers__descr Причал отправления/прибытия: набережная Ленина, причал №8, теплоход "Азов"
          .offers__price-wrapper
            p.offers__price 5 000 руб.
            //- span.offers__price.offers__price--old 15000 руб.
          a.modal__buy(href="#") Бронирование
