ul.main__offer.offers
  li.offers__item
    img.offers__img(src="anapa.jpg", alt="Круиз в Анапу")
    h3.offers__title
      a.offers__link(href="#") Морской круиз в Анапу
    p.offers__property Маршрут:
      span.offers__descr Сочи-Лазаревское-Геленджик-Анапа
    p.offers__property Продолжительность:
      span.offers__descr 10 ч. 0 мин.
    p.offers__price 49 000 руб.
  li.offers__item
    img.offers__img(src="adler.jpg", alt="Морская прогулка в Адлер")
    h3.offers__title
      a.offers__link(href="#") Обзорная морская прогулка с экскурсией
    p.offers__property Маршрут:
      span.offers__descr Сочи-Адлер-Сочи (без высадки)
    p.offers__property Продолжительность:
      span.offers__descr 1 ч. 0 мин.
    p.offers__price 5 000 руб.
    span.offers__price.offers__price--old 15000 руб.
  li.offers__item
    img.offers__img(src="gelenjik.jpg", alt="Морская прогулка в Геленджик")
    h3.offers__title
      a.offers__link(href="") Морская прогулка в Геленджик
    p.offers__property Маршрут:
      span.offers__descr Сочи-Туапсе-Геленджик
    p.offers__property Продолжительность:
      span.offers__descr 12 ч. 30 мин.
    p.offers__price 7 000 руб.
    span.offers__price.offers__price--old 10000 руб.
  li.offers__item
    img.offers__img(src="novorossiysk.jpg", alt="Морской круиз в Новороссийск")
    h3.offers__title
      a.offers__link(href="#") Морской круиз в Новороссийск
    p.offers__property Маршрут:
      span.offers__descr Сочи-Геленджик-Новороссйиск-Геленджик-Сочи
    p.offers__property Продолжительность:
      span.offers__descr 13 ч. 0 мин.
    p.offers__price 14 800 руб.
  li.offers__item
    img.offers__img(src="abrau.jpg", alt="Морская прогулка в Абрау-Дюрсо")
    h3.offers__title
      a.offers__link(href="#") Морская прогулка в Абрау-Дюрсо
    p.offers__property Маршрут:
      span.offers__descr Сочи-Абрау-Дюрсо
    p.offers__property Продолжительность:
      span.offers__descr 11 ч. 0 мин.
    p.offers__price 14 800 руб.
